.generic {
    width: 100%;
    float: left;

    &__content {
        max-width: 552px;
        margin: 0 auto;
        background: white;

        @include screen(0, $media-tablet-small) {
            width: 100%;
            max-width: unset;
        }
    }

    &-basic {

        &__content {
            max-width: 552px;
            lost-offset: 2/12;

            @include screen(0, $media-tablet-small) {
                width: 100%;
                lost-offset:none;
                max-width: unset;
            }
        }
    }
}