// Colors
$HeroChartreuse: #6AC738;

$YellowOrange: #D6DE20;
$Green: #009D4E;
$Cyan: #007377;
$CyanLight: #43BEAC;
$DarkTurquoiseGreen: #2D3E36;

$Grey: #808284;
$LightGrey: #E4E4E4;
$NeutralGrey-1: #515046;
$NeutralGrey-2: #919388;
$NeutralGrey-3: #F1EBDB;
$NeutralGrey-4: #454545;
$NeutralGrey-5: #515151;
$NeutralGrey-6: #515046;
$NeutralGrey-7: #C8C8C8;
$NeutralGrey-8: #EFEFED;
$NeutralGrey-9: #979797;
$NeutralGrey-10: #DFDFDF;

$White: #FFF;
$DarkRed: #BF0A19;


//Breakpoints
$media-desktop: 1440px;
$media-desktop-medium: 1280px;
$media-desktop-small: 1200px;

$media-tablet: 1024px;
$media-tablet-small: 800px;
$media-tablet-xs: 620px;

$media-mobile-large: 700px;
$media-mobile: 500px;
$media-mobile-small: 375px;

